.small-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: start;
    row-gap: 17px;

    .card__count {
        margin-bottom: 0;
    }

    .card__change, .card__count {
        align-self: end;
    }

    img, .card__change {
        justify-self: end;
    }

    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
    }
}